<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color: white;">Library</a>
    <button   class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item active">
                <a class="nav-link" click="onOpenModal(null, 'add')">Add book <span class="sr-only">(current)</span></a>
            </li>
        </ul> 
        <form class="form-inline my-2 my-lg-0">
            <input type="search" name="key" id="searchName" class="form-control mr-sm-2"  placeholder="Search books">
        </form>
    </div> 
</nav>
<!-- End navbar -->
<button (click)="getName()">get name</button>
<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let book of books" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{book?.title}}</h5>
                        <p class="m-0">{{book?.type}}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Author : <a href="#">{{book?.author}}</a></li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : 000 123-456</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a  ng-click="onOpenModal(book, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a  ng-click="onOpenModal(book, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End row -->

<!-- Add Book -->
      <!-- Modal -->
      <div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="addBookModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addBookModalLabel">Add Book</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             <form>
              <div class="form-group">
                <label for="author">Author</label>
                <input type="text" name="author"
                class="form-control" id="author" placeholder="Author" required>
              </div>
              <div class="form-group">
              <label for="title">Title</label>
              <input type="text" name="title"
              class="form-control" id="title" placeholder="Title" required>
            </div>
              <div class="form-group">
              <label for="type">Type</label>
              <input type="text" name="type"
              class="form-control" id="type" placeholder="Type" required>
              </div>
            <div class="form-group">
            <label for="numberCopies"> Copies</label>
            <input type="text" name="numberCopies"
            class="form-control" id="numberCopies" placeholder="Copies" required>
        </div>
        <div class="form-group">
          <label for="numberBooksAvailable"> Available</label>
          <input type="text" name="numberBooksAvailable"
          class="form-control" id="numberBooksAvailable" placeholder="Available" required>
      </div>
      
        </form>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
         </div>
<!-- Update Book -->
            <!-- Modal -->
            <div class="modal fade" id="updateBookModal" tabindex="-1" role="dialog" aria-labelledby="bookEditModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="updateBookModalLabel">Edit Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                   <form>
                    <div class="form-group">
                      <label for="author">Author</label>
                      <input type="text" name="author"
                      class="form-control" id="author" placeholder="Author" required>
                    </div>
                    <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title"
                    class="form-control" id="title" placeholder="Title" required>
                  </div>
                    <div class="form-group">
                    <label for="type">Type</label>
                    <input type="text" name="type"
                    class="form-control" id="type" placeholder="Type" required>
                    </div>
                  <div class="form-group">
                  <label for="numberCopies"> Copies</label>
                  <input type="text" name="numberCopies"
                  class="form-control" id="numberCopies" placeholder="Copies" required>
              </div>
              <div class="form-group">
                <label for="numberBooksAvailable"> Available</label>
                <input type="text" name="numberBooksAvailable"
                class="form-control" id="numberBooksAvailable" placeholder="Available" required>
            </div>
            
              </form>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
             </div>

       <!-- Delete Book -->
            <!-- Modal -->
            <div class="modal fade" id="deleteBookModal" tabindex="-1" role="dialog" aria-labelledby="deleteBookModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title" id="deleteBookModalLabel">Edit Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                 </div>
                  <div class="modal-body">
                    <p>Are sure you want to delete book?</p>
                   
                 <!--  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button class="btn btn-danger" data-dismiss="modal">Yes</button>
                  </div>
                </div>
              </div>
            </div> -->
             </div>
     </div>  

<!-- Modal -->
<div class="modal fade" id="updateBookModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</div><!-- End container -->